@model IEnumerable<MVCBookReviewW.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Book Reviews</p>
    
</div>

<div class="row">
   <table class="table">
       <tr>
           <th>@Html.DisplayNameFor(model=>model.BookTitle)</th>
           <th>@Html.DisplayNameFor(model => model.BookISBN)</th>
           <th>@Html.DisplayNameFor(model => model.BookEntryDate)</th>
       </tr>
       @foreach(var item in Model)
       {
           <tr>
               <td>@Html.DisplayFor(model=>item.BookTitle)</td>
               <td>@Html.DisplayFor(model => item.BookISBN)</td>
               <td>@Html.DisplayFor(model => item.BookEntryDate)</td>
           </tr>
       }
   </table>
</div>